<body>
    <div class="main-wrapper">
    
        <div class="page-wrapper">
            <div class="content" *ngIf="DataDiscapacidadesListo">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Discapacidad</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
                                    <h4>Crear Discapacidad</h4>
                                    <form #f="ngForm" (ngSubmit)="PostDiscapacidades()">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Ingrese una discapacidad" [(ngModel)]="discapacidad" name="discapacidad">
                                            <button class="btn btn-primary mt-4 float-right" type="submit">Agregar</button>
                                        </div>
                                    </form>
                                    
                                    <!-- 
                                    <div class="">
                                        <input type="checkbox">Gaaddasdas
                                        <input type="checkbox">Gaaddasdas
                                        <input type="checkbox">Gaaddasdas
                                    </div>
                                    -->
                                    
                                    <div class="col-sm-12">
                      
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dato of DataDiscapacidades;let i = index">
                                            <th>{{i+1}}</th>
                                            <th>{{dato.name}}</th>
                                            <th><button type="submit" class="btn btn-danger" (click)="DeleteDiscapacidades(dato._id)">Eliminar</button></th>
                                        </tr>
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
