<body>
    <div class="main-wrapper">
    
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">Roles</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
                                    <h4>Crear Roles</h4>
                                    <input type="text" class="form-control">
                                    <button class="btn btn-primary mt-4 float-right" type="submit">Agregar</button>
                                    <div class="col-sm-12">
                      
                                </div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="card-block">
								<div class="table-responsive">
									<table class="datatable table table-stripped ">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Fcha de creación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>1</th>
                                            <th>Crear Cuenta</th>
                                            <th>11/10/20</th>
                                        </tr>
                                    </tbody>
                                </table>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

